form {
  display: table-row-group;
  vertical-align: middle;
}

.item {
  display: table-row;
  vertical-align: inherit;
}

label,
input,
select,
button {
  display: table-cell;
  vertical-align: inherit;
  margin: 2px;
}
select {
  /*   position: absolute;
  z-index: 9999; */
  width: 177px !important;
}

.wrapper {
  height: 25px;
}
